.welcome-mate {
  width: 12rem;
  background-color: #fff;
  height: 70px;
  border-radius: 58% 42% 51% 49% / 100% 36% 64% 0%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
