.navbar-name {
  display: none;
}

.section-satu {
  // background-color: aqua;
  margin: 50px auto;
  width: 100%;
}

header.header-title {
  padding-left: 37px;
  // background-color: aqua;
  width: 62.5%;
}

.text-name {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.menu-nav {
  // background-color: aqua;
  width: 100%;
  align-items: center;
}

.section-link {
  width: 65%;
}

.section-nav-link {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 23rem;
  height: 155px;
  margin-left: 30px;
  margin-top: 10px;
  // align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-image: url("../img/patern_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-nav-link:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.label-title-menu {
  opacity: 0.7;
}

.decription-menu {
  opacity: 0.7;
}
