$small: 480px;
$medium: 900px;

// PHONE
@media screen and (max-width: $small) {
  // Home Responsive
  .navbar-name {
    display: block;
    background-color: #eee;
    height: 50px;
  }
  .section-satu {
    // background-color: aqua;
    margin: 0%;
    width: 100%;
    margin-bottom: 20px;
    header {
      //   background-color: aqua;
      width: 100%;
      margin: 0;
      padding: 50px;

      .this-me {
        font-size: 3rem;
      }

      span.title-position {
        font-size: 20px;
        font-weight: 500;
      }

      div.description-me {
        //   background-color: aqua;
        width: 100%;
      }
    }

    .menu-nav {
      margin-top: -20px;
      width: 100%;

      .section-link {
        justify-content: center;
        align-items: center;
        width: 100%;
        // background-color: aqua;
      }

      .section-nav-link {
        max-width: 90%;
        margin: 10px auto;
      }
    }
  }

  footer {
    margin-bottom: 20px;
  }
  // END HOME

  // ABOUT Responsive
  .section-about {
    width: 100%;
    margin-top: 3px;
    // background-color: aqua;

    .link-nav-about {
      // background-color: bisque;
      padding-left: 0%;
    }

    .container-description {
      width: 100%;
    }
  }
  // End ABOUT

  // EXPERINCE RESPONSIVE
  .section-exprience {
    width: 100%;
    // background-color: aqua;
    padding: 5px;
    .container-experience {
      width: 100%;
      margin: 10px;
      // box-sizing: border-box;
      // background-color: aqua;
    }

    .container-header {
      // background-color: aqua;
      width: 100%;
    }
    .experience-timeline {
      width: 100%;
      margin-left: 10px;
    }
  }

  // END EXPERIENCE
}
